.profile {
  display: grid;
  grid-area: p;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* grid-template-rows: 20% 20% 20% 20% 20%; */
  /* background-color: coral; */
  margin: 2.5rem;
  /* text-align: center; */
}

.bike {
  width: 320px;
  height: 320px;
  border: 3px solid #ffffff;
  transition: all 0.3s ease;
  margin: 5px;
  text-align: center;
}

 
.bike:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
