.description {
  display: inline-grid;
  grid-area: d;
  /* grid-template-areas: 
  'd d'; */
  grid-template-columns: repeat(2, 50%);
  background-color: crimson;
}

.description p {
  width: 400px;
  /* height: 200px; */
  text-align: center;
  /* margin-top: 70px; */
  /* display: flex; */
  align-items: center;
  font-family: "Indie Flower", cursive;
  color: #000000;
  font-size: 17px;
}

.description .my_photo {
  background-image: url(https://sun9-20.userapi.com/c852036/v852036038/1c55b5/1Fzv8bJq-Sw.jpg);
    background-position: center;
    background-size: 200px;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    margin-left: 25rem;
    /* margin-top: 3rem; */
}