@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import '../mixins.scss';

.container {
    @include Test;
    flex-grow: 0;
    flex-wrap: wrap;
    width: 500px;

    .name, .email, .message {
      flex-basis: 100%;
    }
    .sendButton {
      width: 250px;
    }

    .thnxMsg {
      background-color: aqua;
      width: 200px;
    }

}